body{
    margin: 0;
    font-family: Open Sans, sans-serif;
    line-height: 1.4;
}

img{
    max-width: 100%;
}

/* INICIO - section laptopSlider */
.container_slideshow{
    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto; /* coloca a barra de rolagem na div em vez de ela passar para a janela do browser */
}

.slideshow{
   white-space: nowrap; /* impede que seja feita uma quebra de linha */
}

.slideshow figure{
    display: inline-block;
}
/* FIM - section laptopSlider */


/* INICIO - javascript */

.js .container_slideshow{
    overflow: hidden;
    color: white;
    box-sizing: border-box;
}

.js .container_slideshow .slideshow{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
    box-sizing: border-box;
}

.js .container_slideshow figure{
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.js .container_slideshow figure.show{
    opacity: 1;
    position: static;
    left: 0;
    margin: 0;
}

.js .container_slideshow .prev, .js .container_slideshow .next{
    z-index: 0;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.js .container_slideshow .prev{
    left: 10px;
}

.js .container_slideshow .next{
    right: 10px;
}

/* FIM - javascript */



/* INICIO - media queries */
@media screen and (min-width: 850px){
    .js .container_slideshow{
        overflow: hidden;
        color: white;
    }
    
    .js .container_slideshow .slideshow{
        position: relative;
        width: 100%;
        margin: auto;
        max-width: 100%;
    }
    
    .js .container_slideshow figure{
        opacity: 0;
        transition: 1s opacity;
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -425px;
    }
    
    .js .container_slideshow figure.show{
        opacity: 1;
        position: relative;
        left: 50%;
        margin-left: -425px;
    }
    
    .js .container_slideshow .prev, .js .container_slideshow .next{
        z-index: 0;
        position: absolute;
        top: 50%;
        cursor: pointer;
    }
    
    .js .container_slideshow .prev{
        left: 10px;
    }
    
    .js .container_slideshow .next{
        right: 10px;
    }
}